spring.application.name=payment-service
server.port=8082

# R2DBC — подключение к PostgreSQL (таблица balance)
spring.datasource.url=jdbc:postgresql://localhost:5432/db_name
spring.datasource.username=username
spring.datasource.password=password

# Отключаем Flyway в payment-service (миграциями управляет market-app)
spring.flyway.enabled=false